$body-color: red;

h3 {
  color: $body-color;
}
.box {
  width: 550px;
  height: 200px;
  background-size: cover;
  background: url('/src/images/google.png');
  background-color: black;
}
.box_two {
  width: 500px;
  height: 500px;
  background: url('../images/daitu.jpeg');
}
